 <h4>Students in this class are:</h4>

{{#each students}}
    <div>
        <span>Student ID: {{this._id}}</span>
        <strong>{{this.name}}</strong> 
        <span>{{this.age}}</span>
    </div>
{{/each}}

