<main>
	{{#each donuts}}
		<div class="donut-container">

			<img src="{{this.img}}" class="main-img">
			
			<a rel="" href="/{{this._id}}">{{this.name}}</a>

			<span>Price: {{this.price}}</span>

		</div>
</main>

	{{/each}}

